.count
  display flex
  justify-content flex-end
  flex-direction column
  color #A99D7D
  .total
    display flex
    align-items center
    justify-content flex-end
  .nav
    display flex
    align-items center
    justify-content flex-end
.items
  display flex
  justify-content space-between
  .wrapper
    border none
    outline-color #A89B7B
    background-color #F5F6F7
    font-size 1em
