.count
  display flex
  justify-content flex-end
  flex-direction column
  color #A99D7D
  .total
    display flex
    align-items center
    justify-content flex-end
  .nav
    display flex
    align-items center
    justify-content flex-end
.items
  display flex
  justify-content space-between
