@charset "UTF-8";
@import "variables";

@font-face {
  font-family: 'quicksand-bold';
  src: url('./fonts/quicksand-bold-webfont.woff') format('woff'),
  url('./fonts/quicksand-bold-webfont.ttf')  format('truetype'),
}

html {
  font-family: 'quicksand-bold', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $white;
  color: $dark;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.viewport {
  margin: 0;
}
