.categorySelector
  background-color #F5F6F7
  padding 20px
  display flex
  align-items center
.categoriesForm
  flex 1
  display flex
.categoryFilterLabel
  color #00000
.categoryFilterInput
  color #A89B7B


.showAllButton
  background-color #A89B7B
  color #ffffff
  padding 9px
  align-self flex-end
