.categorySelector
  background-color #F5F6F7
  padding 20px
  display flex
  align-items center
  flex-wrap wrap
.categoriesForm
  display flex
  justify-content space-between
  width 250px
  flex-wrap wrap
.seeAllContainer
  display flex
  flex: 1
  justify-content flex-end

.showAllButton
  background-color #A89B7B
  color #ffffff
  padding 9px
  align-self flex-end
