.categorySelector
  background-color #F5F6F7
  padding 20px
  display flex
  align-items center
  flex-wrap wrap
.categoriesForm
  display flex
  justify-content space-between
  width 100px
  flex-wrap wrap
  margin-left 69px
.seeAllContainer
  display flex
  flex: 1
  justify-content flex-end
  margin-right 69px

.showAllButton
  background-color #A89B7B
  color #ffffff
  padding 9px
  align-self flex-end
  &:disabled
    background: #dddddd
