.categoryItem
  width 318px
  height 373px
  display flex
  flex-direction column
  justify-content space-between
  padding 12px
  .params
    display flex
    margin-top 9px
    align-items center
    justify-content space-between
  .imageContainer
    display flex
    align-items center
    justify-content center
  .info
    display flex
    align-items center
    justify-content space-between
    .title
      color #AFA387


